DEPLOYER_PRIV_KEY=     # required
USER_PRIV_KEY=         # optional

ARBITRUM_L1_RPC_URL=
ARBITRUM_L2_RPC_URL='https://rinkeby.arbitrum.io/rpc'

OPTIMISM_L1_RPC_URL='http://127.0.0.1:9545'
OPTIMISM_L2_RPC_URL='http://127.0.0.1:8545'
